.board-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 200px 200px;
  grid-template-areas: "header  header  header" "sidebar content content" "footer  footer  footer";
  background-color: #fff;
  color: #444;
}

.master-sequence {
  position: relative;
  text-align: center;
}

.guess {
  height: 100px;
}
.peg-box {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 187, 187);
}

.peg {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.make-guess-box {
  height: 15rem;
  background-color: #333;
  width: 100%;
}

.colored-pin {
  content: attr(" ");
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px 20px;
}

.pin-grey {
  background-color: #333;
}

.pin-Red {
  background-color: red;
}
.pin-Green {
  background-color: green;
}

.pin-Blue {
  background-color: blue;
}
.pin-Yellow {
  background-color: yellow;
}
.pin-White {
  background-color: whitesmoke;
}
.pin-Black {
  background-color: black;
}

.hidden {
  display: none;
}
.guess-cirlces {
  margin-left: 60%;
}
